@import '../../style/variable.scss';

//按钮类型的配置
$type: (
  primary: (
    background-color: $dis-primary,
  ),
  success: (
    background-color: $dis-success,
  ),
  danger: (
    background-color: $dis-danger,
  ),
  warning: (
    background-color: $dis-warning,
  ),
);

$pseudo: (
  primary: (
    hover: (
      background-color: $dis-primary-hover,
    ),
    focus: (
      background-color: $dis-primary-hover,
    ),
    active: (
      background-color: $dis-primary-active,
    ),
  ),
  success: (
    hover: (
      background-color: $dis-success-hover,
    ),
    focus: (
      background-color: $dis-success-hover,
    ),
    active: (
      background-color: $dis-success-active,
    ),
  ),
  danger: (
    hover: (
      background-color: $dis-danger-hover,
    ),
    focus: (
      background-color: $dis-danger-hover,
    ),
    active: (
      background-color: $dis-danger-active,
    ),
  ),
  warning: (
    hover: (
      background-color: $dis-warning-hover,
    ),
    focus: (
      background-color: $dis-warning-hover,
    ),
    active: (
      background-color: $dis-warning-active,
    ),
  ),
);
