@use './button-config.scss';
@import './button-base.scss';

.dis-btn {
  // 导入基本属性
  @include button-base;
  // 导入type相关的属性
  @include button-variant(button-config.$type);
  // 导入shape
  @include button-variant(button-config.$shape);
  // 导入size
  @include button-variant(button-config.$size);
  // 导入伪类
  @include button-variant(button-config.$pseudo, true);
}

// patch
.dis-btn.dis-btn--text:disabled {
  &:active,
  &:hover {
    background-color: #fff;
  }
}

.dis-btn {
  &.dis-btn--mini {
    &.dis-btn--circle {
      @apply h-[22px] p-0;
      min-width: 22px;
    }
  }
  &.dis-btn--small {
    &.dis-btn--circle {
      @apply min-w-[26px] h-[26px] p-0;
    }
  }
  &.dis-btn--medium {
    &.dis-btn--circle {
      @apply min-w-[30px] h-[30px] p-0;
    }
  }
  &.dis-btn--large {
    &.dis-btn--circle {
      @apply min-w-[34px] h-[34px] p-0;
    }
  }
}

.dis-btn.dis-btn--loading {
  &.dis-btn--large .loading__content svg {
    width: 2em;
  }
  &.dis-btn--medium .loading__content svg {
    width: 1.8em;
  }
  &.dis-btn--small .loading__content svg {
    width: 1.6em;
  }
  &.dis-btn--mini .loading__content svg {
    width: 1.4em;
  }
  &.dis-btn--outline .loading__content circle {
    stroke: #94bfff;
  }
  &.dis-btn--text .loading__content circle {
    stroke: #94bfff;
  }
  &.dis-btn-circle .loading__content {
    margin-right: 0;
  }
}

.dis-btn.dis-btn--loading[disabled].dis-btn--circle .loading__content {
  margin-right: 0px;
}

.dis-btn.dis-btn--large.dis-btn--round {
  border-radius: 18px;
}
