@use './button-config.scss';
@import './button-base.scss';

.#{$prefix}-btn {
  // 导入基本属性
  @include button-base;
  // 导入type相关的属性
  @include button-variant(button-config.$type);
  // 导入shape
  @include button-variant(button-config.$shape);
  // 导入size
  @include button-variant(button-config.$size);
  // 导入伪类
  @include button-variant(button-config.$pseudo, true);
}

// patch
.#{$prefix}-btn.#{$prefix}-btn--text:disabled {
  &:active,
  &:hover {
    background-color: #fff;
  }
}

.#{$prefix}-btn {
  &.#{$prefix}-btn--mini {
    &.#{$prefix}-btn--circle {
      @apply h-[22px] p-0;
      min-width: 22px;
    }
  }
  &.#{$prefix}-btn--small {
    &.#{$prefix}-btn--circle {
      @apply min-w-[26px] h-[26px] p-0;
    }
  }
  &.#{$prefix}-btn--medium {
    &.#{$prefix}-btn--circle {
      @apply min-w-[30px] h-[30px] p-0;
    }
  }
  &.#{$prefix}-btn--large {
    &.#{$prefix}-btn--circle {
      @apply min-w-[34px] h-[34px] p-0;
    }
  }
}

.#{$prefix}-btn.#{$prefix}-btn--loading {
  &.#{$prefix}-btn--large .loading__content svg {
    width: 2em;
  }
  &.#{$prefix}-btn--medium .loading__content svg {
    width: 1.8em;
  }
  &.#{$prefix}-btn--small .loading__content svg {
    width: 1.6em;
  }
  &.#{$prefix}-btn--mini .loading__content svg {
    width: 1.4em;
  }
  &.#{$prefix}-btn--outline .loading__content circle {
    stroke: $dis-outline-loading-color;
  }
  &.#{$prefix}-btn--text .loading__content circle {
    stroke: $dis-outline-loading-color;
  }
  &.#{$prefix}-btn-circle .loading__content {
    margin-right: 0;
  }
}

.#{$prefix}-btn.#{$prefix}-btn--loading[disabled].#{$prefix}-btn--circle
  .loading__content {
  margin-right: 0px;
}

.#{$prefix}-btn.#{$prefix}-btn--large.#{$prefix}-btn--round {
  border-radius: 18px;
}
